.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___preview-image {
  width: 150px;
  height: 250px;
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}

.fighter-preview___property {
  width: 250px;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  text-align: center;
  color: rgb(239, 247, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 50%, rgba(0, 0, 0, 0) 100%);
}